*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}


/* .flex{
  color: red;
  } */

  
  /* .main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: gray;

  }

  .sub-main{
     display: flex;
     justify-content: center;
     height: 550px;
     width: 35%;
     box-shadow: 11px 12px 13px rgb(207, 207, 207);
     padding-top: 30px;
     border-radius:60px;
     background-color: white;
  } */
